.A{
    background-color: antiquewhite;
    width: 300px;
    border:black 6px solid ;
    padding: 66px;
    margin: 10px 20px 10px 20px;
}
.B{
    background-color: antiquewhite;
    width: 300px;
    border:black 6px solid ;
    padding: 66px;
    margin: 10px 20px 10px 20px;
}