*{
    background-color: darkslategrey;
}
table,tr,td{
    border: black 1px solid ;
    border-collapse: collapse;
}
table{
    direction: rtl;
}
tr:nth-child(odd){
    color: red;
}
tr:hover{
    color: dodgerblue ;
}
tr:

