.A{
    background-color: antiquewhite;
    width: 333px;
    border: brown 10px solid;
    padding: 66px;
    margin: 20px 10px 20px 10px;
}
.B{
    background-color: antiquewhite;
    width: 333px;
    border: brown 10px solid;
    padding: 66px;
    margin: 20px 10px 20px 10px;
}
div.A:hover{
    color: blue ;
}
h2{
    color: red;
}