ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: darkolivegreen;
}
li{
    float: right;
}
li a{
    display: inline-block;
    color: whitesmoke;
    padding: 12px 15px;
    text-decoration: none;

}
li a:hover{
    background-color: dimgrey;
}
