.div1{
    background-color: bisque;
    border: royalblue 25px solid;
    width: 200px;
    padding: 25px 10px 10px 10px;
    margin: 25px 10px 10px 10px;
}
.div2{
    background-color: bisque;
    border: royalblue 25px solid;
    width: 200px;
    padding: 25px 10px 10px 10px;
    margin: 25px 10px 10px 10px;
}